aiohttp[speedups]==3.9.5
aiohttp_apispec
aiohttp_cors
pydantic==2.8.2
pydantic_settings
psycopg2
psycopg2-binary
asyncpg
ujson
uvloop
marshmallow
structlog
sentry-sdk
yoyo-migrations

pytest
pytest-mock==3.14.0
pytest-aiohttp==1.0.5
pytest-cov